<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

<!--      <ol>-->
<!--        <li><a href="index.html">Home</a></li>-->
<!--        <li>Inner Page</li>-->
<!--      </ol>-->
      <h2>Схема работы</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page">
    <div class="container">
      <img [src]="'assets/img/about/about.jpg'" alt="">


<!--      <p>-->
<!--        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--        culpa qui officia deserunt mollit anim id est laborum.-->
<!--      </p>-->
<!--      <p>-->
<!--        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--        culpa qui officia deserunt mollit anim id est laborum.-->
<!--      </p>-->
<!--      <p>-->
<!--        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--        culpa qui officia deserunt mollit anim id est laborum.-->
<!--      </p>-->
<!--      <p>-->
<!--        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--        culpa qui officia deserunt mollit anim id est laborum.-->
<!--      </p>-->
<!--      <p>-->
<!--        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate-->
<!--        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in-->
<!--        culpa qui officia deserunt mollit anim id est laborum.-->
<!--      </p>-->
    </div>
  </section>

</main><!-- End #main -->
