<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>BI-система - это единая корпоративная система отчетности и инструмент анализа данных</h2>
      <p>Основной целью внедрения BI-системы является предоставление бизнесу удобного временного инструмента анализа
        и контроля повышения эффективности управленческих решений</p>
    </div>

    <div class="row">
      <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4><a [routerLink]="['option', 'metrics']">Метрики любой сложности</a></h4>
          <p>Подстроимся под Ваши бизнес-требования, создадим только нужные метрики</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4><a [routerLink]="['option', 'reports']">BS, PL, CF</a></h4>
          <p>Создадим и настроим для Вас автоматизированные отчеты и научим пользоваться</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4><a [routerLink]="['option', 'kpi']">KPI-показатели</a></h4>
          <p>Настроим ключевые показатели эффективности, полезные Вашему бизнесу</p>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
        <div class="icon-box">
          <div class="icon"><i class="bx bx-layer"></i></div>
          <h4><a [routerLink]="['option', 'sources']">Любые источники данных</a></h4>
          <p>Источники данных могут быть как внутренними, так и внешними - используем все, что будет полезно
          для анализа Вашего бизнеса</p>
        </div>
      </div>

    </div>

  </div>
</section>
