<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>KPD</h3>
          <p>
            Калининград <br>
            Гагарина 111<br>
            Российская Федерация <br><br>
            <strong>Tелефон:</strong> +7 962-264-8103 <br>
            <strong>Email:</strong> Artem.ovtsyn@gmail.com <br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Ссылки</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"home"'>Домашняя страница</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"about"'>О нас</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"services"'>Наши сервисы</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"services"'>Условия</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"home"'>Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"portfolio"'>Web Design</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"portfolio"'>Web Development</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"portfolio"'>Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"portfolio"'>Marketing</a></li>
            <li><i class="bx bx-chevron-right"></i> <a [routerLink]='"kpd"' [fragment]='"portfolio"'>Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Мы в социальных сетях</h4>
          <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
          <div class="social-links mt-3">
            <a [routerLink]='"kpd"' class="twitter"><i class="bx bxl-twitter"></i></a>
            <a [routerLink]='"kpd"' class="facebook"><i class="bx bxl-facebook"></i></a>
            <a [routerLink]='"kpd"' class="instagram"><i class="bx bxl-instagram"></i></a>
            <a [routerLink]='"kpd"' class="google-plus"><i class="bx bxl-skype"></i></a>
            <a [routerLink]='"kpd"' class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>

  </div>
</footer>
