#content > .list-img:not(:first-child) img{
  max-height: 40%;

}
.clients {
  padding: 12px 0;
  text-align: center;
}

.clients img {
  max-width: 85%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}

.list-img:last-child img {
    max-width: 45%;
}
.clients img:hover {
  filter: none;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}
