
<kpd-header></kpd-header>
<router-outlet></router-outlet>
<!--<kpd-hero></kpd-hero>-->
<!--<main id="main">-->
<!--  <kpd-clients></kpd-clients>-->
<!--  <kpd-about></kpd-about>-->
<!--  <kpd-about></kpd-about>-->
<!--  <kpd-why-us></kpd-why-us>-->
<!--  <kpd-skills></kpd-skills>-->
<!--  <kpd-services></kpd-services>-->
<!--  <kpd-cta></kpd-cta>-->
<!--  <kpd-portfolio>-->
<!--  </kpd-portfolio>-->

<!--  <kpd-contact></kpd-contact>-->
<!--</main>-->

<kpd-footer></kpd-footer>
<!--<div id="preloader"></div>-->
<!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>-->

<!--<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>-->

