<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>О нас</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Наша команда имеет 10 летний опыт разработки BI систем.
          Прозрачная и автоматизированная
          отчетность под ваши потребности это реальность:
        </p>
        <ul>
          <li *ngFor="let text of theses"><i class="ri-check-double-line"></i>{{ text }}</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Мы любим создавать масштабные BI-системы используя разные источники ваших данных.
          Решение сложных задач это наш конек.
        </p>
        <a [routerLink]="['about-more']"  class="btn-learn-more">Как мы это делаем?</a>
      </div>
    </div>

  </div>
</section>
