<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>О нас</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          Наша команда имеет пятилетний опыт разработки BI систем. Миссией компании является создание прозрачной и автоматизированной
          отчетности для Ваших нужд. Закроем все потребности пользователя, а именно:
        </p>
        <ul>
          <li *ngFor="let text of theses"><i class="ri-check-double-line"></i>{{ text }}</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          Система собирает в одном месте данные из всех источников. На SQL-сервере в службе Analysis Services (SSAS)
          создается модель данных, к которой подключаются средства визуализации (Power BI, Qlik, Tableau, Excel
          и прочие) без необходимости повторно строить модели внутри этих программ. При работе с конструктором отчетов
          будет отображаться модель, созданная в SASS
        </p>
        <p>
          В результате, работая с одной и той же модель данных, созданной единожды на физическом или облачном сервере
          компании, одни сотрудники могут использовать для работы Power BI, а другие - Exel, Qlik или Tableau. С минимальной
          стоимостью лицензий.
        </p>
        <a [routerLink]="['about-more']"  class="btn-learn-more">Как это работает?</a>
      </div>
    </div>

  </div>
</section>
