<section id="faq" class="faq section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Как мы работаем</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="faq-list" id="faq-list">
      <ul>
        <li *ngFor="let question of questions; let id = index"
          data-aos="fade-up" data-aos-delay="100"
        >
          <i class="bx bx-help-circle icon-help"></i>
          <a data-bs-toggle="collapse"
             [id]="'heading' + id"
             [class]="openAccordion[id] ?  'active' : 'collapsed'"
          >
            {{ question.question }}
            <i class="bx icon-toggle"
               [class]="!openAccordion[id] ? 'bx-chevron-down' :  'bx-chevron-up'"
               data-bs-toggle="collapse"
               [attr.data-bs-target]="'#collapse' + id"
               aria-expanded="true"
               [attr.aria-controls]="'collapse' + id"
               (click)='toggleIcon(id)'></i>
          </a>
          <div [id]="'faq-list-' + id"
               class="accordion-collapse collapse"
               [attr.aria-labelledby]="'heading' + id"
               data-bs-parent="#faq-list"
               [class.show]='openAccordion[id]'>

            <p>
              {{ question.answer }}
            </p>
          </div>

        </li>
      </ul>
    </div>

  </div>
</section>
