

<div id="header" class="fixed-top d-flex">
  <div class="align-items-center w-100">
  <nav id="navbar"
      class="navbar navbar-expand-lg"
     [class.header-scrolled]="isActive"
     [class.sub-header]="subHeader"
     [class.fixed-top]="isActive"
>
  <div class="container align-items-center">
    <h1 class="logo"><a class="nav-link" [routerLink]='"kpd"' [fragment]='"hero"'>Ключевая аналитика</a></h1>
    <button id="navbarButton"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
            class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <i class="bi bi-list mobile-nav-toggle"></i>
    </button>
    <div kpdNavbar [kpdNavbarCollapsed] = "isNavbarCollapsed"
         (scroll)="scrollHandler($event)"
         [ngbCollapse]="!isNavbarCollapsed"
         [@smoothCollapse]="!isNavbarCollapsed?'initial':'final'"
         class="collapse navbar-collapse"
         id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--        <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">-->
<!--          <a class="nav-link"-->
<!--             [routerLink]='"kpd"'-->
<!--             routerLinkActive="active"-->
<!--             [fragment]='"hero"'-->
<!--             [routerLinkActiveOptions]="linkActiveOptions"-->
<!--             [class.active]="(activeFragment)==='hero'">-->
<!--&lt;!&ndash;             [class.active]="activeRoute === 'kpd'"&ndash;&gt;-->
<!--&lt;!&ndash;          >&ndash;&gt;-->
<!--&lt;!&ndash;            &ndash;&gt;-->
<!--            Home</a>-->
<!--        </li >-->
        <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <a class="nav-link"
             [routerLink]='"kpd"'
             [fragment]='"about"'
             routerLinkActive="active"
             [routerLinkActiveOptions]="linkActiveOptions"
             [class.active]="(activeFragment)==='about'"
          >О нас</a>
        </li>
        <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <a class="nav-link"
             [routerLink]='"kpd"'
             [fragment]='"services"'
             routerLinkActive="active"
             [routerLinkActiveOptions]="linkActiveOptions"
          >Услуги</a>
        </li>
        <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <a class="nav-link"
             [routerLink]='"kpd"'
             [fragment]='"portfolio"'
             routerLinkActive="active"
             [routerLinkActiveOptions]="linkActiveOptions">Типовые решения</a>
        </li>
        <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <a class="nav-link" [routerLink]='"kpd"' [fragment]='"contact"'
             routerLinkActive="active"
             [routerLinkActiveOptions]="linkActiveOptions">Контакты</a>
        </li>
        <li class="nav-item" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <a class="getstarted" [routerLink]='"kpd"'
             [fragment]='"about"'
             routerLinkActive="activeGetStarted"
             [routerLinkActiveOptions]="linkActiveOptions"
          >
          Get Started</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
  </div>
</div>
